@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto" , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: chartreuse;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
li {
    float: left;
}
li a {
    text-align: center;
    display: block;
    padding: 16px 24px;
    text-decoration: none;
    color: darkblue;
}
li a:hover {
    background-color: yellow;
}
.bg {
    background-image: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: white;
}